.upcomingEventsComponent {
  background-color: #fafdff;
  padding: 28px 0 50px 0;
}

.upcomingEventsComponent > h1 {
  margin-left: 50px;
  /* padding-top: 25px; */
  font-family: "DM Serif Display", serif;
  font-size: xx-large;
  margin-bottom: 15px;
}

.upcomingEventsUl {
  list-style: none;
  padding: 0;
  margin: 0 50px;
}

.upcomingEventsUl > h1 {
  color: black;
  padding-top: 30px;
  font-size: x-large;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight: 400;
}